<div id="home">
    <section id="home__header" class="py-5">
        <div class="container-lg py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 d-flex justify-content-end align-items-center p-0">
                    <img src="./img/gbbsBlanco.png" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start px-5">
                    <div class="text-center">
                        <p class="h1 text-light">ETec GBBS</p>
                        <button class="btn btn-outline-light">Explorar foros</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>