<div id="home">
    <section id="home__header" class="py-5">
        <div class="container-lg py-5 my-3">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 d-flex justify-content-center align-items-center p-0">
                    <img src="./img/gbbsBlanco.png" alt="">
                </div>
                <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center px-5">
                    <div class="text-center">
                        <p class="h1 text-light">ETec GBBS</p>
                        <a href="/forums" class="btn btn-outline-light">Explorar foros</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home__about__us">
        <div class="container-lg">
            <p class="h2 my-5 text-center about__us__title">Global Bulletin Board System</p>
            <div>
                <div class="row justify-content-center align-items-center about__us__info mb-5">
                    <div class="col-12">
                        <h1 class="h5 text-center">El producto es un GBBS (Global Bulletin Board System), que es una especie de foro que permite la creación de usuarios, que pueden ingresar y compartir información entre ellos. Los usuarios pueden crear y participar en foros, y formar parte de la comunidad de radioaficionados a través del GBBS.</h1>
                    </div>
                </div>
                <div class="row about__us__features">
                    <p class="h2 text-center mb-5">Sobre nosotros</p>
                    <div class="col-12 my-4">
                        <p class="h4">Nuestra misión</p>
                        <h3 class="text-center">Ofrecer una mejor experiencia y servicio del GBBS para tratar de satisfacer a usuarios de menor edad (acostumbrados a nuevas tecnologías) y clientes de mayor edad que sean amantes de los antiguos sistemas BBS.</h3>
                    </div>
                    <div class="col-12 my-4">
                        <p class="h4 text-end">Nuestra Visión</p>
                        <h3 class="text-center">Ser líder en las plataformas web para radioaficionados, para poder generar valores económicos y sociales gestionando modelos de negocio innovadores.</h3>
                    </div>
                    <div class="col-12 my-4">
                        <p class="h4">Nuestros Valores</p>
                        <h3 class="text-center">Nuestros valores nos guían cada día para crecer más como personas y también como empresa empatizando con nuestros clientes expresando quienes somos y que creemos. Algunos de nuestros valores son: empatía, progreso, innovación, contribución y fiabilidad.</h3>
                    </div>
                </div>
                <section class="about__us__team__container">
                    <div class="row justify-content-center align-items-center ">
                        <button id="about__us__btn__open__team" class="d-flex justify-content-center align-items-center">Ver nuestro equipo <i class="fa-solid fa-angle-right ms-3"></i></button>
                    </div>
                    <div class="team__container px-3" id="about__us__team__container">
                        <div class="row flex-row-reverse justify-content-center align-items-center about__us__team">
                            <div class="col-lg-5 col-12 justify-content-center align-items-center d-flex">
                                <img src="./img/equipo6.png" class="my-3" alt="">
                            </div>
                            <div class="col-lg-6 col-12">
                                <h2 class="h4 mb-3">Equipo de trabajo</h2>
                                <h3 class="h5">Nuestro equipo esta formado por todo 6° infromatica del colegio tecnico de la universidad de Mendoza, ETec.</h3>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center about__us__dr">
                            <div class="col-lg-4 col-12 justify-content-center align-items-center d-flex">
                                <img src="./img/dr.jpg" class="my-3" alt="">
                            </div>
                            <div class="col-lg-8 col-12">
                                <h2 class="h4 mb-3">JORGE FAVIER</h2>
                                <h3 class="h5">Doctor en Ingeniería. Director de la Estación Packet Radio y del Global Bulletin Board System.</h3>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section id="home__organizations" class="py-5">
        <div class="container-lg py-5">

            <div class="row">
                <div class="col-md-3 col-12">
                    <img class="w-100" src="./img/logoUm.png" alt="">
                    <p><strong>Universidad de Mendoza</strong></p>
                </div>
                <div class="col-md-3 col-12">
                    <img class="w-100" src="./img/logoEtec.png" alt="">
                    <p><strong>ETec</strong></p>
                </div>
                <div class="col-md-3 col-12">
                    <img class="w-100" src="./img/logoLu1mum.jpg" alt="">
                    <p><strong>Lu1mum</strong></p>
                </div>
                <div class="col-md-3 col-12">
                    <img class="w-100" src="./img/logoRepi.png" alt="">
                    <p><strong>Repi</strong></p>
                </div>
            </div>
        </div>
    </section>
</div>