#header{
    .navbar{
        .container-fluid{
            .navbar-collapse{
                .navbar-nav{
                    a{
                        color: #000;

                        &.active{
                            text-decoration: underline;
                            color: $color-blueDark;
                        }
                    }
                }
            }
        }
    }
}